@page "/dashboard-bancario"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Bancario")]
<PageTitle>Dashboard Bancario</PageTitle>

<h2 class="text-center">Bienvenido Bancario</h2>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4>Gestión de Créditos</h4>
            <p>Puedes aprobar o rechazar solicitudes de financiamiento.</p>
            <button class="btn btn-success">Ver Solicitudes</button>
        </div>
    </div>
</div>
